/*CONTENEDOR CARRUSEL*/
.carousel-container {
    max-width: 1000px; /* Cambia este valor para ajustar el ancho del carrusel */
    width: 100%;
    margin: 20px auto;
  }
  /*IMAGENES CARRUSEL*/
  .carousel-image {
    height: 600px; /* Cambia según el alto deseado */
    object-fit: cover; /* Escala las imágenes para que se vean correctamente */
  }
  
  
  /* Navbar personalizado */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1rem;
    padding: 10px 15px;
  }
  
/* IMÁGENES DEL CATÁLOGO */
.fixed-image {
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Recorta las imágenes para llenar el espacio sin deformarse */
    width: 100%; /* Asegura que ocupen el ancho completo de la tarjeta */
    border-bottom: 1px solid #ddd;
}

/* Asegurar que todas las tarjetas tengan la misma altura */
.row-cols-1 .col, 
.row-cols-md-3 .col {
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 10px;
    flex: 1; /* Todas las tarjetas tendrán la misma altura */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye contenido de forma uniforme */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}
